In [2]:
print(5)

5

In [4]:
print(5)
print(6)

5
6

In [5]:
print(5 + 4)
print(5 - 4)
print(5 * 4)
print(5 / 4)

9
1
20
1.25

In [8]:
print((5 + 4) * 3)

27

In [9]:
print(1.25)

1.25

In [10]:
print(1 + 2)

3

In [52]:
# das Durschnittsalter berechenen

age1 = 21
age2 = 18
print((age1 + age2) / 2)

19.5

## lection 2

In [53]:
a = 5 + 6

print (a)

11

In [16]:
age = 21 
age2 = 18
print((age + age2) /2)

19.5

In [54]:
# durschnitsalter rechnen 

average_age = (age + age2) /2

print(average_age)

19.5

## lection 3

In [20]:
print("hallo welt")

hallo welt

In [21]:
name = "Max"
print("ich bin: " + name)

ich bin: Max

In [24]:
print("ich bin : " + "4")

ich bin : 4

In [26]:
age = "22" 
print("ich bin: " + age)

ich bin: 22

In [27]:
age = 22
print("ich bin: " + str(age))

ich bin: 22

In [28]:
v = "Hallo Welt"
print(v)

Hallo Welt

یک اعدد نمیتونه  با یک استرینگ بیاد داخل ()

In [4]:
student1 = "Max"
student2 = "Monika"
student3 = "Erik"
student4 = "Franziska"

In [11]:
students =['Max', "Monika", "Erik" , "Franziska"]

In [12]:
print(students)

['Max', 'Monika', 'Erik', 'Franziska']

In [15]:
students.append("Feri")

append hinzufügen noch einer person  oder noch mehrer

In [16]:
print(students)

['Max', 'Monika', 'Erik', 'Franziska', 'Feri']

In [11]:
print(len(students))

6

In [13]:
print(students[0])
print(students[4])

Max

In [19]:
print(students[0] + " & " + students[4])

Max & Feri

## Lektion 4

##### Lösche letzte Element von ein liste mit (Pop function)

In [20]:
planets = ["merkur", "venus", "erde", "mars", "jupiter", "saturn", "uranus", "neptun", "pluto"]
planet.pop()
print(planets)

['merkur', 'venus', 'erde', 'mars', 'jupiter', 'saturn', 'uranus', 'neptun', 'pluto']

In [25]:
planets = ["merkur", "venus", "erde", "mars", "jupiter", "saturn", "uranus", "neptun", "pluto"]

p = planets.pop()
print(p)

print(planets)

pluto
['merkur', 'venus', 'erde', 'mars', 'jupiter', 'saturn', 'uranus', 'neptun']

In [26]:
print(planets)

['merkur', 'venus', 'erde', 'mars', 'jupiter', 'saturn', 'uranus', 'neptun']

## lektion 5

### Daten umwandeln

In [28]:
a = "5"
b = "6"

print(int(a) + int(b))

11

#### strin -> kommazahl

In [29]:
a = "5.5"
b = "6.6"

print(float(a) + float(b))

12.1

#### zahl -> string

In [31]:
age = 21
print("ich bin " + str(age) + " jahre alt")

ich bin 21 jahre alt

##### Liste -> String

In [32]:
students = ["max", "Monika", "Erik", "Franziska"]
print(",".join(students))

max,Monika,Erik,Franziska

In [34]:
students_as_string = ", ".join(students)
print("An unserer Uni studieren: " + students_as_string)

An unserer Uni studieren: max, Monika, Erik, Franziska

#### string -> Liste

In [35]:
i = "max, monika, erik, franziska"

In [41]:
# split macht von jede bestimmte  wört   
print(i.split(", "))

['max', 'monika', 'erik', 'franziska']

In [42]:
s = "Ich bin ein Satz mit vielen Wörten"

In [49]:
print(s.split(" "))

['Ich', 'bin', 'ein', 'Satz', 'mit', 'vielen', 'Wörten']

In [50]:
print(len(s.split(" ")))

7

#### aufgabe A

In [56]:
# Ein automatisierter Trick

# Eine Mathemagierin bittet dich darum, einen ihrer Tricks durch ein kleines Programm zu automatisieren. Der Trick beginnt wie folgt: 

#1. Denke dir eine Zahl aus (Variable `number`).
#2. Multipliziere sie mit 2.
#3. Addiere 10 zum Ergebnis.
#4. Teile das Ergebnis durch 2.

# Führe diese Rechnung  für die Variable _number_ durch und gebe das Ergebnis aus. 



number = 9

result = ((number * 2) + 10) / 2
print(result)

# Das Ergebnis wird nämlich noch als Kommazahl angezeigt

14.0

#### Aufgabe B

In [58]:
# Als sie das sieht, rümpft die Mathemagierin die Nase: Das Ergebnis wird nämlich noch als Kommazahl angezeigt. 
# Wandle das Ergebnis in eine Ganzzahl um, bevor du es ausgibst.

number = 9
result = ((number * 2) + 10) / 2
print(int(result))

14

Aufgabe C

In [115]:
#Gebe nun einen Antwortsatz der Form 

# "Du hast 6 ausgewählt, das magische Ergebnis ist 11!"

# aus, wobei für die Zahl 6 die Variable `number` und für die Zahl 11 das Ergebnis (Variable `result`) eingesetzt werden soll.
# Hinweis:** In Python darf ein `print` - Befehl wie folgt über mehrere Zeilen gehen. Das könnte praktisch sein, gerade wenn du viele Strings hintereinander hängen möchtest: 
# ```python

#print("Hallo" + 
#     "Welt")


number = 6
ergebnis = 11

print("du hast "+ 
        str(int(number)) + 
        " ausgewählt, das magische Ergebnis ist " +
        str(int(ergebnis)) + "!")

du hast 6 ausgewählt, das magische Ergebnis ist 11!

#### Aufgabe 2: Zersägte E-Mail-Adressen

#### a. ) Ziehe einen Namen aus einer Mailadresse

Wenn die Mailadresse _Max-Mustermann@gmail.com_ lautet, sollst du _Max-Mustermann_ ausgeben; wenn die Mailadresse _KlaraKlarnamen@uni-berlin.de_ heisst, sollst du _KlaraKlarnamen_ ausgeben.

In [112]:
# Aufgabe 2: Zersägte E-Mail-Adressen

# klara  bittet dich um Hilfe bei der Betreuung von ihrem Online-Shop. 
# Sie kennt nur die Mailadressen ihrer Kunden, und du sollst anhand der Mailadressen ein vereinfachtes Verzeichnis mit ihren Namen anlegen.



mail1 = "willy.wizard@zaubaerschuler.de"
# vor dem @
print( mail1.split("@")[0])
# nach dem @
print(mail1.split("@")[1].split(".")[0] )



# die name vordem @ ausgeben
mail = "KlaraKlarnamen@uni-berlin.de"
print( mail.split("@")[0])


# die name nachdem @ ausgeben
print(mail.split("@")[1].split(".")[0] )

willy.wizard
zaubaerschuler
KlaraKlarnamen
uni-berlin

#### b.) Ziehe einen Namen aus einer Mailadresse der Form info@name.com

Manchmal stehen die Namen bei einer Mailadresse auch erst hinter dem @-Zeichen. Gebe auch für solche Fälle die Namen aus; entferne dabei die Endung _.com_ bzw. _.de_. Du darfst dazu voraussetzen, dass innerhalb des Namens kein Punkt vorkommt. Wenn die Mailadresse also _info@Max-Mustermann.com_ lautet, sollst du _Max-Mustermann_ ausgeben.

**Hinweis:** Es ist okay, wenn du für die Berechnung mehere `.split()` - Befehle benötigst, oder ein Ergebnis zwischenspeichern möchtest. Gerne kannst du auch den Code aus der Teilaufgabe `a)` hier mitverwenden.

In [92]:
# Aufgabe 2b -  function split()

mail = "info@Max-Mustermann.com"


# die name nach dem @ ausgeben 

print(mail.split("@")[1].split(".")[0])

Max-Mustermann

In [97]:
# Replace()  function   


 
mail = "info@Max-Muster-mann.c-om"

# eine space zwischen namen hinzufügen
result1 = (print(mail.replace("-", " ")))

info@Max Muster mann.c om

In [98]:
emails = ['willy.wizard@schuler.de', 'KlaraKlarnamen@uni.de', 'info@Max-Mustermann.com', 'KlaraTank@gmail.com']

# forEach schleife  vorname und nachname aus eine email ausgeben lassen und durch capitaliz erste  buschtabe Groß schreiben  

for email in emails:
    name = email.split('@')[0]
    name = name.replace('.', ' ')
    name = name.replace('-', ' ')
    print(name.capitalize())

Willy wizard
Klaraklarnamen
Info
Klaratank

In [130]:
# between  Uppercase word add space  

emails = ['willy.wizard@schuler.de', 'KlaraKlarnamen@uni.de', 'info@Max-Mustermann.com', 'KlaraTank@gmail.com']
list = []

for email in emails:
    name = ""
    for i, char in enumerate(email.split('@')[0]):
        if i > 0 and char.isupper():
            name += " "
        name += char

    list.append(name)
 
print(list)

['willy.wizard', 'Klara Klarnamen', 'info', 'Klara Tank']

#### c.) Berechne: Wie viele Kunden gibt es im Online-Shop?

Aktuell legen alle Kunden (`mail1`, `mail2`, `mail3`) als separate Variable vor. Wir möchten daraus jetzt eine Liste bauen, sodass wir die Möglichkeit hätten, später noch weitere Kunden in diese Liste hinzuzufügen.

Überführe deswegen die Kunden `mail1`, `mail2` und `mail3` in die Liste `clients` und lasse dir anschließend die Anzahl der Elemente der Liste `clients` mit Hilfe von Python ausgeben.

In [149]:
mail1 = "zarah.zauber@zauberberg.de"
mail2 = "info@trixie-trickser.com"
mail3 = "uwe_unhold@dunkelnetz.de" 

clients = []
# unser wariable  habe wir clients gennant  obwohle die name : groupe ,  passt besser wir haben clients benutzt.

clients.append(mail1)
clients.append(mail2)
clients.append(mail3)


print(clients)

['zarah.zauber@zauberberg.de', 'info@trixie-trickser.com', 'uwe_unhold@dunkelnetz.de']

In [150]:
print(len(group))

3

#### d.) Eine Mailadresse aus Strings zusammenbauen

Plötzlich fällt der Mathemagierin ein, dass in der Liste _clients_ noch ihr wichtigster Onlineshop-Kunde fehlt.
Die Infos zu ihm wurden bei einem misslungenen Trick in zwei Teile zersägt 
und liegen seitdem in der Liste `["Buehnenzauberer", "magic.com"]` herum. 

Rekonstruiere mit Hilfe von Python die Mailadresse des Kunden (da fehlt ein `@` zwischen "Buehnenzauberer" und "magic.com") 
und gebe sie aus, damit sich der Onlineshop-Kundendienst nach seinem Wohlbefinden erkundigen kann.

In [164]:
zauberer = ["Buehnen.zauberer", "magic.com"]

print("@".join(zauberer))

vor_nach_name = ["feriahmadi", "gmail.com"]
print("@".join(vor_nach_name))

Buehnen.zauberer@magic.com
feriahmadi@gmail.com

# Section 4 

 schleifen  if, else,
             for schleife ,
              while schleife

In [183]:
if 6 < 5:
    print("ja")

In [195]:
print(6 < 5)
print(5 < 6)

print( 5 <= 6)


print(5 > 6 )

False
True
True
False

In [193]:
age = 12

if age < 18:
    print("u are not allowed to using this option! :(")
    
elif age >= 18 and age <49:
    print("congratulations u can use this option :)")
    
elif age == 50:
    print("your are lucky you can use it this year option just this year! :)")
    
else :
    print("you are so old Man for using this option sorry! :(")

u are not allowed to using this option! :(

In [196]:
age = 35 
if age >= 30 and  age <= 39:
    print("er ist  30 jahre alt")

er ist  30 jahre alt

In [207]:
age = 35
if age < 30 or age > 40:
    print("er sit nicht in ihrem 30-ern")

In [208]:
# boolian  ergebnis muss mit Groß buchschtabe  geschrieben werden .

r = True 
print(r)

True

In [209]:
# boolian  ergebnis muss mit Groß buchschtabe  geschrieben werden .
t = False 
print(t)

False

In [206]:
above_30 = age >= 30
print(above_30)

True

In [210]:
age = 24 

above_20 = age >= 20
print(above_20)

if age >= 20:
    print("if-Abfrage wurder ausgeführt")

True
if-Abfrage wurder ausgeführt

In [211]:
print (True and True)
print(True and False)
print(False and True)
print(False and  False)

True
False
False
False

In [212]:
print (True or True)
print(True or False)
print(False or True)
print(False or  False)

True
True
True
False

In [221]:
country = "US"
age = 20

if (country == "US" and age >= 21) or (country != "US" and age >= 18):
    print("Er darf das film sehen  und getrenk trinken")

In [223]:
if True and False:
    print("h")

In [224]:
if True or False:
    print("h")

h

### vergleich operator

In [227]:
studendts = ["Max", "Monika", "Erik", "Franziska"]

print("Monika" in students)

print("Feri" in students)

True
False

In [230]:
if "Monika" in students:
    print("ja, she/he is student")
else:
    print("Nein she/he isn't  student")
    
if "Moritz" in students:
    print("ja, one of the students ")
else: 
    print("Nein, Moritz studiert hier nicth")

ja, she/he is student
Nein, Moritz studiert hier nicth

In [235]:
# Übrigens : das klappt auch auf string!wenn wir suchen nach bestimmte  buchschtabe 

sentence = " ja , die monika studiert hier!"

if "!" in sentence :
    print("ja")
else:
    print("Nein")

Nein